<div id="modal" _="on closeModal add .closing then wait for animation end then remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
      <h3 class="text-xl font-bold text-center">
          Enter Task
      </h3>
      <form action="/todos/create" method="post" hx-target="body" hx-swap="transition:true" hx-push-url="false"
          class="flex flex-col justify-center gap-6 mt-4">

          <label class="flex flex-col justify-start gap-2">
              Note:
              <input class="input input-bordered input-primary bg-slate-800" type="text" name="note" autofocus
                  maxlength="64" />
          </label>

          <div class="flex justify-end mt-6">
              <button _="on click trigger closeModal" class="badge badge-accent py-3 badge-outline hover:scale-[1.1]">
                  &#10004;&nbsp;Create Todo
              </button>
          </div>
      </form>
  </div>
</div>
