<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
      <h3 class="text-xl font-bold text-center">
          Update Task #{{ todo.id }}
      </h3>
      <form class="flex flex-col justify-center gap-6 mt-4">
          <label class="flex flex-col justify-start gap-2">
              Description:
              <textarea class="textarea textarea-primary h-20 max-h-20 bg-slate-800" name="note"
                  maxlength="255" required>{{ todo.note }}</textarea>
          </label>
          <footer class="card-actions flex flex-col">
              <div class="flex justify-between w-full">
                <label class="cursor-pointer label flex gap-2">
                    <span class="label-text">Status:</span>
                    <input type="checkbox" name="status" class="checkbox checkbox-accent" {% if todo.status %}
                        checked {% endif %} />
                </label>
              </div>
              <div class="flex justify-end mt-4 w-full">
                  <button hx-post="/todos/edit/{{ todo.id }}" hx-target="body" hx-swap="transition:true"
                      hx-push-url="false" _="on click trigger closeModal"
                      class="badge badge-accent py-3 badge-outline hover:scale-[1.1]">
                      &#10004;&nbsp;Update Todo
                  </button>
              </div>
          </footer>
      </form>
  </div>
</div>
