<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <meta name="description" content="Todo app made with Axum+Askama">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/hyperscript.min.js"></script>
    <script src="/assets/js/sweetalert2.min.js"></script>
    <title>Todo List</title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body class="sample-transition" hx-boost="true">
    <main class="pt-[116px] md:pt-40">
        {% block content %}{% endblock content %}
    </main>

    {% include "partial/footer.html" %}
</body>

</html>
